@import "tailwindcss";

@theme {
    --color-black-900: #121826;
    --color-black-800: #212936;
    --color-black-300: #9da3ae;
    --color-black-200: #d2d5da;
    --color-black-100: #e5e7eb;
    --color-lightBlue-50: #dee9fc;
    --color-pinkTheme: #fbe5e6;
    --color-yellow-10: #fceed8;

    --font-outfit: "Outfit", sans-serif;
}

@layer base {
    * {
        @apply text-black-100 font-outfit;
    }
}
