@import "tailwindcss";

@theme {
    --color-black-900: #121826;
    --color-black-800: #212936;
    --color-black-300: #9da3ae;
    --color-black-200: #d2d5da;
    --color-black-100: #e5e7eb;
    --color-lightBlue-50: #dee9fc;
    --color-pinkTheme: #fbe5e6;
    --color-yellow-10: #fceed8;

    --font-outfit: "Outfit", sans-serif;
}

@layer base {
    * {
        @apply text-black-100 font-outfit;
    }

    h1 {
        font-size: 2em; /* 32px jika base font 16px */
        font-weight: bold;
    }

    h2 {
        font-size: 1.5em; /* 24px */
        font-weight: bold;
    }

    h3 {
        font-size: 1.17em; /* ~18.72px */
        font-weight: bold;
    }

    h4 {
        font-size: 1em; /* 16px */
        font-weight: bold;
    }

    h5 {
        font-size: 0.83em; /* ~13.28px */
        font-weight: bold;
    }

    h6 {
        font-size: 0.67em; /* ~10.72px */
        font-weight: bold;
    }
}
